@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
    background-image: url('../img/fondo2.png');
    background-size: cover;      /* Ajusta el tamaño para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* Otras propiedades del fondo pueden ir aquí, como la posición */
}

h1, p{
    font-family: 'Playfair Display', serif;
    color: black !important;
}

nav{
    background-color: transparent;
    backdrop-filter: blur(.5em);

}

.card{
    --bs-card-bg: rgba(99, 99, 99, 0.061) !important;
    backdrop-filter: blur(10em);
    box-shadow: inset 5px 5px 10px rgba(69, 69, 69, 0.51) !important;
    --bs-card-border-color: transparent !important;
}
