form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="number"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0054aa;
  }
  
  input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s;
  }
  
  input[type="number"]:focus {
    border-color: #0074cc;
    outline: none;
  }
  
  form > label,
  form > input[type="number"] {
    margin-bottom: 10px;
  }
/*KIMBERLY JAZMIN TREJO ESTRADA */