*{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: #555;
}

#uno p{
    color: #336699;
}

a{
    color: #CC3300;
}

#uno em{
    background-color: #FFFFCC;
    padding: 3px;
}

em.recalcar {
    background-color: #FFCC99;
    border: 1px solid #FF9900;
    padding: 3px;
}

.dos span{
    font-weight: bold;
}
/*KIMBERLY JAZMIN TREJO ESTRADA 372