header, nav{
    height: 4em;
    background: rgb(97, 252, 50);
    margin-bottom: 1em;
}

section{
    display: flex;
    height: 42.5em;
    margin: 1%;
    border-color: rgb(128, 128, 128, 0.275);
    border-width: 3.5px;
    border-style: solid;
}

aside{
    background: rgb(71, 252, 243);
    width: 20em;
    margin: 1%;
}

article{
    background: rgb(251, 255, 44);
    width: 80em;
    margin-left: 1%;
    margin-right: 1%;
    margin: 1%;
}

footer{
    height: 4em;
    background: rgb(165, 80, 235); 
}
/*KIMBERLY JAZMIN TREJO ESTRADA 372